/* navigation style  */
body{
  max-width: 1440px ;
  
}
nav{
  display: flex;
  justify-content: space-between;
 margin: 0 200px;
}
nav ul li{
  list-style: none;
}
.name {
 
  font-size: 28px;
 
  height: 33px;
  

}

.button{
  font-size: medium;
height:57px ;
width: 244px;
border-radius: 20px;
padding:17px 24px ;
background-color: white;
}
.font{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color:#0D1321 ;
}
nav ul li a{
  text-decoration: none;
  color: #0D1321;
}

/* 1st-section-style */

.first-part{
  background-image: url(../media/image/Hero-bg.png);

 margin: 131px 0 0;
 width: 1440px;
 height: 752px;



}
 .first-div{
padding: 26px 221px 44px;
 font-size: 30px;
 }
 .first-img{
padding:0px 450px 32px;

 }
.contact-font{
  text-decoration: none;
  color: white;
}
 .contact{
  font-size: medium;
  height:57px ;
  width: 244px;
  border-radius: 20px;
  padding:17px 24px ;
  background-color: black;
  color: white;
margin: 0 500px;
 
 }

 .second-part{
  width: 1140px;

  
 }
.why-web{
  height: 1395px;
  margin: 74px 152px 0 148px;
  border: 0px solid;
  border-radius: 5px;
  background-color: #0d13210a;
  padding: 80px 97px;
}
.first-commit{
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  border-radius: 5px;
  background-color: white;
 margin: 150px 0;
  
}
.second-commit{
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 150px;
 
}
.third-commit{
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 150px;

}
.btn{
  
text-decoration: none;
color: #0D1321;
 
}
.bton{
  margin-left: 50px;
}
.inspiration{

margin: 88px 152px 0 148px;

height: 777px;
text-align: center;

}
.inspiration-text{
  margin-bottom: 48px;
}
.video{
  border: 20px solid #0d132111 ;
  border-radius: 20px;
  
}